body{
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  font-family: sans-serif;
 background-size: cover;
 overflow: hidden;
  height: 100vh;
  justify-content: center;
  background: no-repeat center/80% url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=800");
}

h1{
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
.clock{
  display: flex;
}
 .clock div{
   margin:5px;
   font-size: 1.2em;
   color: white;
   position: relative;

 }
.clock span{
  background-color: #00D7FF;
  height:80px;
  width: 100px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
}
.clock .text{
  height: 30px;
  font-size:10px;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: darkblue;
  opacity: 0.8;
}
.clock #ampm{
  position:absolute;
  bottom: 0;
  width: 55px;
  height: 30px;
  font-size: 20px;
  background-color:#81CACF;
}
